{% extends "auth_base.html" %}

{% block title %}ASHPense | Instructions Sent{% endblock title %}

{% block content %}
<div class="login-form">
    <div class="card">
        <div class="card-body">
            <h1 style="text-align: center; font-family: sans-serif; font-size: 40px; font-weight: bold; letter-spacing: -4.0px; color: #0072dd; margin-bottom: 35px; padding: 0rem;">
                <a href="{% url 'home' %}">ASHPense Manager</a>
            </h1>
            <h1>Check your inbox</h1>           
            <p>Instructions to reset your password has been sent to the email address provided.</p>
        </div>
    </div>
</div>
<div>
    <a href="{% url 'home' %}">Go home</a>
</div>
{% endblock content %}