{% extends "auth_base.html" %}
{% load crispy_forms_tags %}

{% block title %}ASHPense | Change Password{% endblock title %}

{% block content %}
<div class="login-form">
    <div class="card">
        <div class="card-body">
            <h1 style="text-align: center; font-family: sans-serif; font-size: 40px; font-weight: bold; letter-spacing: -4.0px; color: #0072dd; margin-bottom: 35px; padding: 0rem;">
                <a href="{% url 'home' %}">ASHPense Manager</a>
            </h1>
            <h1>Forgort your password?</h1>
            <p>Enter your email address below. We'll send instructions for setting a new one</p>
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-primary btn-block" type="submit">Send instructions</button>
            </form>
        </div>
        <div>
            <a href="{% url 'home' %}">Home</a>
        </div>
        {% comment %} <div class="card-footer">

        </div> {% endcomment %}
    </div>
</div>
{% endblock content %}