{% extends "auth_base.html" %}
{% load crispy_forms_tags %}

{% block title %}ASHPense | Reset Password{% endblock title %}

{% block content %}
<div class="login-form">
    <div class="card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <h1 style="text-align: center; font-family: sans-serif; font-size: 40px; font-weight: bold; letter-spacing: -4.0px; color: #0072dd; margin-bottom: 35px; padding: 0rem;">
                    <a href="{% url 'home' %}">Reset Password</a>
                </h1>
                {{ form | crispy }}
                <button class="btn btn-primary btn-block" type="submit">Reset password</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}