{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<section>
    <div class="container bg-white px-5">
        <!-- TITLE OF PAGE -->
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-14 mb-3 border-bottom">
                <p class="fs-3 text-start text-uppercase text-primary mb-0">
                    Update {{ user.username }} User Profile
                </p>
            </div>
        </div>
    </div>
</section>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <section class="py-2">
        <div class="container px-5 py-3 bg-white pb-3">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="border-bottom mb-3">
                    <p class="fs-3 text-start text-secondary mb-0">Basic Data</p>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        {{ form.last_name | as_crispy_field }}
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        {{ form.first_name | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        {{ form.username | as_crispy_field }}
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        {{ form.email | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        {{ form.date_of_birth | as_crispy_field }}
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        {{ form.age | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        {{ form.image | as_crispy_field }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-2">
        <div class="container px-5 py-3 mb-5">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12"></div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <button class="btn btn-success px-5 w-100" type="submit">Update</button>
                </div>
            </div>
        </div>
    </section>
</form>

{% endblock content %}