{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<section>
    <div class="container bg-white px-5">
        <!-- TITLE OF PAGE -->
        <div class="row">
            <div class="col col-lg-12 col-md-12 col-sm-14 mb-3 border-bottom">
                <p class="fs-3 text-start text-uppercase text-primary mb-0">
                    {{ user.username }} User Profile Page
                </p>
            </div>
        </div>
    </div>
</section> 

<section class="py-3">
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <img src="{{ user.image.url }}" class="img-fluid img-thumbnail mb-3 rounded-circle" alt="{{ user.username }}'s photo">
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="fs-4 text-secondary">Last name:</div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="fs-4 text-dark">{{ user.last_name }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="fs-4 text-secondary">First name:</div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="fs-4 text-dark">{{ user.first_name }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="fs-4 text-secondary">Date of birth:</div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="fs-4 text-dark">{{ user.date_of_birth }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="fs-4 text-secondary">Age:</div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="fs-4 text-dark">{{ user.age }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="fs-4 text-secondary">Username:</div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="fs-4 text-dark">{{ user.username }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="fs-4 text-secondary">Email address:</div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="fs-4 text-dark">{{ user.email }}</div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}