{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-lg-12 mt-5 mb-5 pt-5 border-bottom">
                <h1>Password change successful</h1>
                <p>Your password has been changed. You can return to your profile</p>
            </div>
            <div class="col col-lg-12">
                <a class="btn btn-primary px-5" href="{% url 'accounts:profile' request.user.username %}">
                    Go to Profile
                </a>
            </div>
        </div>
    </div>
{% endblock content %}