{% load i18n %}{% autoescape off %}
{% blocktranslate %}Hello {{ user.get_username }},{% endblocktranslate %}

{% blocktranslate %}Someone requested to reset your password for your account at {{ site_name }}.{% endblocktranslate %}
{% blocktranslate %}If this was you, use the link below to reset your password.{% endblocktranslate %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% blocktranslate%}If this wasn't you, you can ignore this email.{% endblocktranslate %}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The {{ site_name }} management team{% endblocktranslate %}

{% endautoescape %}