{% load static %}

<!-- BACKGROUND BANNERS -->

<div class="site-blocks-cover overlay" style="background-image: url({% static 'images/hero_2.jpg' %});" data-aos="fade" id="home-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-10 mt-lg-5 text-center">
          <div class="single-text owl-carousel">
            <div class="slide">
              <h1 class="text-uppercase" data-aos="fade-up">Personal Fiance Solutions</h1>
              <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">
                  Tailored solutions for your personal financing needs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>