{% load static %}

<!-- FOOTER -->
<footer class="main-footer w-100 position-absolute bottom-0 start-0 py-2">
    <div class="container">
        <div class="row text-center gy-3  border-top">
            <div class="col-sm-6 text-sm-start">
                <p class="mb-0 text-sm text-gray-600">Members Database &copy; 2023</p>
            </div>
            <div class="col-sm-6 text-sm-end">
                <p class="mb-0 text-sm text-gray-600">Developed by <a href="#" class="external">Emmanuel Enchill</a></p>
            </div>
        </div>
    </div>
</footer>