{% load static %}

<!-- Main landing page-->
<div class="container w-50 border-top border-bottom rounded-3 py-3 mt-5">
    <div class="row">
        <div class="jumbotron text-center">
            <h1 style="text-align: center; font-family: sans-serif; font-size: 40px; font-weight: bold; color: #0072dd; margin-top: 0rem; padding: 0rem;">
                Members Database Management
            </h1>
            <p class="fs-5 text-secondary">Login to continue</p>
        </div>
    </div>
    <div class="row">
        <div class="fs-5 text-center text-secondary mt-5 pb-5">
            <a href="{% url 'login' %}" class="btn btn-primary w-50 mb-3">
                Login
            </a>
            <p>Don't have an account, sign up <a href="{% url 'accounts:signup' %}" style="text-decoration: none;">here</a></p>
        </div>
    </div>
</div>