{% extends "base.html" %}

{% block title %}ASHPense | Home {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    Welcome <b>{{ user.username }}!</b>
    <p>This is the <h1>dashboard</h1> home page</p>

    <p>Done managing your accounts?</p>
    {% comment %} <a href="{% url 'logout' %}">logout</a> {% endcomment %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <p>Update Password</p>
    <a href="{% url 'password_change' %}">Change password</a>
{% else %}
    <p>Welcome to <b>ASHPense Manager</b> landing page</p>
    <p>Already have an account, <a href="{% url 'login' %}">login here</a></p>
    <p>New user, <a href="{% url 'signup' %}">click here</a> to signup</p>
{% endif %}

{% endblock content %}