{% load static %}
    
    {% include "dryland/top.html" %}

    <!-- HEADER SECTION -->

    {% include "dryland/header.html" %}

    <!-- BANKGROUND TOP BANNERS -->
    {% include "dryland/background_banners.html" %}

    <!-- ABOUT US -->
    {% include "dryland/aboutus.html" %}

    <!-- HOW IT WORKS -->
     {% include "dryland/process.html" %}

    <!-- OUR SERVICES -->
    {% include "dryland/services.html" %}

    <!-- GALLERY SECTION -->
    {% include "dryland/gallery.html" %}

    <!-- CONTACT US SECTION -->
    {% include "dryland/contactus.html" %}
    

    <!-- FOOTER -->
    {% include "dryland/footer.html" %}
    

    <!-- BOTTOM -->
    {% include "dryland/bottom.html" %}